<h1>Join a room</h1>

<p>Choose a name to use in chat, and paste the key of the chat room you wish to enter.</p>

<%= form_tag rooms_router_path do %>
	<div class="field">
		<%#= text_field_tag :name, cookies[:user_name], :placeholder => 'Name' %>
		<%= text_field_tag :name, nil, :placeholder => 'Name' %>
	</div>
	<div class="field">
		<%= text_field_tag :key, nil, :placeholder => "Key" %>
	</div>
	<div class="actions">
		<%= submit_tag "Submit", :class => "btn btn-warning"%>
	</div>
	<% flash.each do |key, value| %>
		<div class="flash text-<%= key %>"><%= value %></div>
	<% end %>
<% end %>

<p>Enter the chat room URL.</p>