<h1>Join a room</h1>

<p>Enter a name to use in chat (at least 4 characters and at most 20 characters long). Use only alphanumeric characters. Then paste the key of the chat room you wish to enter.</p>

<%= form_tag join_router_path, :id => "joinroom" do %>
	<% flash.each do |key, value| %>
		<div class="flash text-<%= key %>"><%= value %></div>
	<% end %>
	<div class="field">
		<%= text_field_tag :name, cookies[:user_name], :placeholder => 'Name' %>
		<%#= text_field_tag :name, nil, :placeholder => 'Name' %>
	</div>
	<div class="field">
		<%= text_field_tag :key, nil, :placeholder => "Key" %>
	</div>
	<div class="actions">
		<%= submit_tag "Submit", :class => "btn btn-warning"%>
	</div>
<% end %>

<p>Alternatively, generate a six-character random name by clicking on the <strong>Generate</strong> button below.</p>

<%= javascript_tag do %>
generate_name = function() {
	var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for( var i=0; i < 6; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));
	$("#name").val(text);
}
<% end %>

<%= link_to_function "Generate", "generate_name()", :class => "btn btn-primary" %>

<p>You will be redirected to the room after entering a name and a valid key.</p>