<h1>Join a room</h1>

<p>Choose a name to use in chat, and paste the key of the chat room you wish to enter.</p>

<%= form_tag join_router_path do %>
	<% flash.each do |key, value| %>
		<div class="flash text-<%= key %>"><%= value %></div>
	<% end %>
	<div class="field">
		<%#= text_field_tag :name, cookies[:user_name], :placeholder => 'Name' %>
		<%= text_field_tag :name, nil, :placeholder => 'Name' %>
	</div>
	<div class="field">
		<%= text_field_tag :key, nil, :placeholder => "Key" %>
	</div>
	<div class="actions">
		<%= submit_tag "Submit", :class => "btn btn-warning"%>
	</div>
<% end %>

<p>You will be redirected to the room after entering a name and a valid key.</p>