<% current_user = cookies[:user_name] %>

<h1><%= @room[:title] %></h1>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Help</h3>
	</div>
	<div class="modal-body">
		<%= render 'layouts/help' %>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<%= render partial: 'welcome', locals: { current_user: current_user } %>

<!-- <p>
	<strong><%#= pluralize(@room.get_user_list.length, 'person') %></strong> chatting right now:
</p> -->

<!-- <div id="userlist"> -->
	<%# @room.get_user_list.each do |usr| %>
		<%#= render partial: 'user', locals: { user: usr } %>
	<%# end %>
<!-- </div> -->

<div class="row-fluid">
	<ul id="chat">
		<% @room.messages.each do |msg| %>
			<%= render partial: 'message', locals: { message: msg } %>
		<% end %>
	</ul>
</div>

<div class="form-horizontal">
	<%= form_for Message.new, remote: true, id: "new_message" do |f| %>
		<%#= f.text_area :content, style: "width:600px", placeholder: "Say something...", rows: 2 %>
		<%= f.text_field :content, style: "width:600px", placeholder: "Say something..." %>
		<%= f.hidden_field :room_id, value: @room.id %>
		<%= f.hidden_field :user_name, value: current_user %>
		<%= f.submit "Send", class: "btn btn-info" %>
	<% end %>
</div>

<%= button_to "Leave Room", room_path(@room), method: :delete, class: "btn btn-danger", style: "float:left;margin-right:10px", id: "leave_room", rel:"popver", :"data-content" => "When everyone leaves the room, it will be destroyed.", :"data-trigger" => "hover focus" %>
<%= button_to "Export Chat History", export_logs_path(room_id: @room.key), class:  "btn btn-success", style: "float:left;margin-right:10px", rel: "popover", :"data-content" => "Export chat history as a text file", :"data-trigger" => "hover focus", id: "export_chat_history" %>
<a href="#myModal" id="help" class="btn btn-primary" role="button" data-toggle="modal" rel="popover" data-content="How to use RTalk" data-trigger="hover focus">Help</a>

<%= subscribe_to room_path(@room) %>
<%= subscribe_to room_path(@room)+'_user_list' %>

<script>
	$("#chat").scrollTop($("#chat")[0].scrollHeight); //scroll down when the page is reloaded
	$("#leave_room").popover({
		placement: "bottom"
	});
	$("#help").popover({
		placement: "bottom"
	});
	$("#export_chat_history").popover({
		placement: "bottom"
	});
</script>