<% current_user = cookies[:user_name] %>

<h1><%= @room[:title] %></h1>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Help</h3>
	</div>
	<div class="modal-body">
		<%= render 'layouts/help' %>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<p>Welcome, <strong><%= current_user %></strong>. Share the room key with your friends!</p>

<p>
	<strong>Click to copy <strong class="text-error"><%= @room.key %></strong> to your clipboard:</strong> <%= clippy(@room[:key], bgcolor="CCCCCC").html_safe %>
</p>

<p>
	<strong><%= pluralize(@room.get_user_list.length, 'person') %></strong> chatting right now:
</p>

<div id="userlist">
	<% @room.get_user_list.each do |usr| %>
		<%= render partial: 'user', locals: { user: usr } %>
	<% end %>
</div>

<div class="row-fluid">
	<ul id="chat">
		<% @room.messages.each do |msg| %>
			<%= render partial: 'message', locals: { message: msg } %>
		<% end %>
	</ul>
</div>

<div class="form-horizontal">
	<%= form_for Message.new, remote: true, id: "new_message" do |f| %>
		<%#= f.text_area :content, style: "width:600px", placeholder: "Say something...", rows: 2 %>
		<%= f.text_field :content, style: "width:600px", placeholder: "Say something..." %>
		<%= f.hidden_field :room_id, value: @room.id %>
		<%= f.hidden_field :user_name, value: current_user %>
		<%= f.submit "Send", class: "btn btn-info" %>
	<% end %>
</div>

<%= button_to "Leave Room", room_path(@room), method: :delete, class: "btn btn-danger", style: "float:left;margin-right:10px", id: "leaveroom", rel:"popver", :"data-content" => "When everyone leaves the room, it will be destroyed.", :"data-trigger" => "hover focus" %>
<%= button_to "Export Chat History", "#", class:  "btn btn-success", style: "float:left;margin-right:10px", rel: "popover", :"data-content" => "Export chat history as a text file", :"data-trigger" => "hover focus", id: "exportchathistory" %>
<a href="#myModal" id="help" class="btn btn-primary" role="button" data-toggle="modal" rel="popover" data-content="How to make and enter chat rooms" data-trigger="hover focus">Help</a>

<%= subscribe_to room_path(@room) %>
<%= subscribe_to room_path(@room)+'_user_list' %>

<script>
	$("#leaveroom").popover({
		placement: "bottom"
	});
	$("#help").popover({
		placement: "bottom"
	});
	$("#exportchathistory").popover({
		placement: "bottom"
	});
</script>